@page
@model IndexModel
@{
    ViewData["Title"] = "Games Central";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Games Central</h1>
        <a asp-page="/Games/Index">Game List</a>
</div>
